DATABASE_URL=mongodb+srv://admin:dK76hZ97U87zIohc@cluster0.kjqb2.mongodb.net/LegalProvider ||
    <ENTER YOUR DATABASE URL HERE>

CLIENT_URL=http://localhost:3000 || <ENTER YOUR CLIENT URL HERE>
COOKIE_DOMAIN=localhost || <ENTER YOUR COOKIE DOMAIN HERE>

CLIENT_USER_EMAIL=<ENTER YOUR CLIENT USER EMAIL HERE>
CLIENT_USER_PASSWORD=<ENTER YOUR CLIENT USER PASSWORD HERE>

PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
    <PRIVATE_KEY>
-----END RSA PRIVATE KEY-----"

PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
    <PUBLIC_KEY>
-----END PUBLIC KEY-----"

EMAIL_PRIV_KEY="-----BEGIN RSA PRIVATE KEY-----
    <EMAIL_PRIV_KEY>
-----END RSA PRIVATE KEY-----"

EMAIL_PUB_KEY="-----BEGIN PUBLIC KEY-----
    <EMAIL_PUBLIC_KEY>
-----END PUBLIC KEY-----"

FORGOT_PASS_PRIV_KEY="-----BEGIN RSA PRIVATE KEY-----
    <FORGOT_PASS_PRIV_KEY>
-----END RSA PRIVATE KEY-----"

FORGOT_PASS_PUB_KEY="-----BEGIN PUBLIC KEY-----
    <FORGOT_PASS_PUBLIC_KEY>
-----END PUBLIC KEY-----"